@use "@styles/variables.scss";
.marque {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;

  gap: 340px;
}
.gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    variables.$accent-color 0%,
    variables.$primary-bg-color 50%
  );
  z-index: -1;
}
.gradient::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    transparent 30%
  );
  z-index: 0;
}
.form {
  position: fixed;
  top: calc(50% - 420px);
  left: calc(50% - 280px);
  width: 560px;
  height: 823px;
  background: #fff;
  border-radius: 7px;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: blur(45px);
}
