@use "@styles/variables.scss";
.input {
  &_error {
    color: #ff3b30;
  }
  &_label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: variables.$black;
    font-size: 20px;
    font-weight: 500;
    font-family: variables.$vela-font;
  }
  &_title {
    &::first-letter {
      text-transform: uppercase;
    }
    &_checkbox {
      font-size: 16px;
    }
  }
  &_input {
    border: none;
    padding: 12px;
    border-radius: 7px;
    background-color: #3a3a3a;
    color: white;
    font-size: 16px;
    &:focus {
      border: none;
      outline: none;
    }
    &:-webkit-autofill {
      -webkit-text-fill-color: white !important;
      font-size: 16px;
      box-shadow: 0 0 0 1000px #3a3a3a inset !important;
    }
  }
  &_checkbox {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
}
.checkbox {
  display: none;
}
