@use "@styles/variables.scss";
.form {
  &_username {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    &_image {
      align-self: center;
    }
  }
  &_holder {
    color: variables.$white;
    font-family: variables.$vela-font;
  }
  &_header {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
    text-align: center;
  }
  &_button {
    &_next {
      margin-top: 64px;
    }
    &_devices {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;
    }
  }
  &_paymentmethods {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 64px;
    &_creditcard {
      display: flex;
      flex-direction: column;
      gap: 16px;
      &_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
      }
    }
  }
}
.header {
  margin-bottom: 16px;
  text-align: center;
}

.subscribeplans {
  &_banner {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: calc(50% - 630px);
    height: 378px;
  }
}
