@use "@styles/variables.scss";
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // padding: 34px 60px;
  box-sizing: border-box;
  max-height: 116px;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}
