@use "@styles/variables.scss";
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 34px 60px;
  box-sizing: border-box;
  max-height: 116px;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 48px;
  font-family: variables.$vela-font;
  font-weight: 400;
  font-size: 16px;
}
.navlink {
  position: relative;
  padding-bottom: 4px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    border-bottom: 1px solid white;
    transition: width ease-in-out 0.3s;
    transform: translateX(-50%);
  }
  &_active {
    position: relative;

    &::after {
      content: "";
      transition: width ease-in-out 0.3s;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 50%;
      border-bottom: 2px solid white;
      transform: translateX(-50%);
    }
  }
}
.controls {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
