@use "@/styles/variables.scss";
.film {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  max-width: 424px;
  font-size: 16px;
  font-weight: 600;
  font-family: variables.$vela-font;

  &_info {
    display: flex;
    max-width: 243px;
    justify-content: space-between;
    font-size: 20px;
    font-family: variables.$albert-font;
    gap: 24px;
  }
}
