.scroll {
  max-width: 100vw;
  &_holder {
    max-width: 100%;

    transition-timing-function: linear !important;
  }
  &_big {
    //  background: #000;
    width: 100%;
    height: 177px;
    &_slide {
      width: 312px;
      height: 177px;
    }
  }
  &_small {
    width: 100%;
    height: 117px;
    border-radius: 10px;
    &_slide {
      width: 200px;
      height: 117px;
    }
  }
  &_image {
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
}
