@use "@styles/variables";
.sliderholder {
  width: 100%;
  height: 191px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: visible !important;
}

.swiperSlide {
  width: 312px !important;
  height: 177px;
  border-radius: 7px;
  transition: all ease-in-out 0.3s;
  box-sizing: border-box;

  &_image {
    width: 312px;
    height: 177px;
    border-radius: 7px;
    object-fit: fill;
    &:hover {
      border: 2px solid variables.$accent-color;
    }
  }
  &_buttons {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 10px;

    flex-direction: row;
    gap: 10px;
    align-items: center;
    align-content: center;
  }
  &_action {
    width: 28px;
    height: 28px;
    background-color: white;
    padding: 5px;
    border-radius: 7px;
  }
  &:hover &_buttons {
    opacity: 1;
  }
  &:hover {
    width: 338px;
    height: 191px;

    transform: scale(1.05);
  }
}

.active {
  border: 2px solid variables.$accent-color;
}
