.sliderholder {
  width: 100%;
  height: 177px;
  box-sizing: border-box;
  //   padding: 0 0 0 60px;
}
.slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  //   overflow: visible !important;
  margin-right: 60px !important;
}

.swiperSlide {
  width: 312px !important;
  height: 177px;
  border-radius: 7px;
  &_image {
    width: 312px;
    height: 177px;
    border-radius: 7px;
  }
}

.active {
  border: 2px solid tomato;
}
